@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif !important;
}

.header {
  background-color: #1abc9c;
}

.headerTitle {
  font-size: 4rem;
  font-weight: 700;
}

.hrParent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hrDiv {
  background-color: white;
  height: 5px;
  width: 120px;
  margin: 0 20px;
  border-radius: 20px;
}


@media screen and (max-width: 470px) {
  .desc {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 420px) {
  .desc {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 350px) {
  .desc {
    font-size: .9rem !important;
  }
}