@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.about {
  background-color: #1abc9c !important;
}

* {
  font-family: "Montserrat", sans-serif !important;
  /* background-color: blueviolet !important; */
}

.hrParent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hrDiv {
  background-color: white;
  height: 5px;
  width: 110px;
  margin: 0 20px;
  border-radius: 20px;
}

.pfolioHeading {
  font-size: 3rem;
}

@media screen and (max-width: 991px) {
  .text-left {
    text-align: center !important;
  }
}
